<div class="centerCalendar">
  <div class="titleBox">
	<div class="arrowBack" onclick="history.go(-1);"></div>
	Editar Evento <span>- {{event_name}}</span>
	</div>
  <div>
		<label>Date</label>
		<input class="editEvent" type="text" ng-model="date" />
		<label>Name</label>
		<input class="editEvent" type="text" ng-model="name" />
		<label>Description</label>
		<input class="editEvent" type="text" ng-model="description" />
	</div>
	<div class="btFooter">
    <input class="btn-primary" type="button" value="Update event" ng-click="UpdateEvent()" />
    <input class="btn-delete" type="button" value="Delete event" ng-click="DeleteEvent()" />
	</div>
</div>
